
@{
    ViewData["Title"] = "Index";
}

@model List<Inmate>
<h1>Litchfield Correctional Database</h1>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Charges</th>
        <th>Date Booked</th>
        <th>Hair Color</th>
        <th>Eye Color</th>
        <th>Tattoos</th>
    </tr>
    @foreach(Inmate inmate in Model)
    {
        <tr>
            <td>@inmate.FirstName</td>
            <td>@inmate.LastName</td>
            <td>@inmate.Dob</td>
            <td>@inmate.Charges</td>
            <td>@inmate.DateBooked</td>
            <td>@inmate.HairColor</td>
            <td>@inmate.EyeColor</td>
            <td>@inmate.Tattoos</td>
        </tr>
    }
</table>
<a href="../PoliceHq/AddInmate">Process a new inmate</a>